@model Hikeyy.Models.TrailModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .row{
        background-color: #EDEEE3;
        border-radius: 20px;
        box-sizing: border-box;
        height: 100%;
        padding: 20px;
        width: 900px;            }
    h1{
        color: #8a9c7d
    }

    .col-sm-2{
        color: #617158
    }

    .btn-edit
     {
        display: inline-block;
        padding: 5px 20px;
        background-color: #aabd9d;
        color: #fff;
        border: none;
        text-decoration: none;
        cursor: pointer;
        border-radius: 4px;
        margin: 5px;
        font-size:20px;
    }

        .btn-edit:hover
         {
            background-color: #8a9c7d;
            color:black;
        }
</style>
<h1 >Details of the trail</h1>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<div>
    <hr style="width:900px;margin-left:-10px;"/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLatitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLatitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLongitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLongitude)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UID }, new { @class = "btn-edit" }) <ion-icon name="create-outline"></ion-icon> <br>
  @*  @Html.ActionLink("Edit", "Edit", new { id=Model.UID }) |*@
    <div style="margin:15px;">
        <a asp-action="Index" style="color:#8a9c7d;"><ion-icon name="arrow-back-outline" style="margin-right:5px;"></ion-icon>Back to List</a>
    </div>
</div>
